.schedule-runs {
  max-height: 450px;
  overflow-y: auto;
  padding-right: 7px;
}

.scheduled-run-card {
  color: rgb(214, 214, 214) !important;
}

.scheduled-run-card .card-body .small {
  color: #8b8b8b !important;
}

.accordion-box {
  padding: 5px 20px 20px 20px;
}
