.col-l {
  width: 70% !important;
}

.col-s {
  width: 25% !important;
}

.run-title,
.run-filter-tag {
  color: rgb(214, 214, 214) !important;
}

.run-icon {
  color: #8b8b8b;
}

.run-summary-card {
  background-color: #151515 !important;
  border-radius: 15px !important;
  color: rgb(214, 214, 214) !important;
  box-sizing: border-box !important;
}

.summary-doughnut {
  height: 120px !important;
  width: 200px !important;
  margin: 0 auto !important;
}

.finished-legend {
  width: 12px;
  height: 12px;
  background-color: rgb(83, 221, 28);
  margin-right: 5px;
}

.failed-legend {
  width: 12px;
  height: 12px;
  background-color: rgb(231, 12, 12);
  margin-right: 5px;
}

.stats {
  font-size: 15px;
  color: #bdbcbc;
}

.stats-tooltip {
  font-size: 12px;
  color: #8b8b8b;
}

.filter-datepicker .rdp-root {
  --rdp-accent-color: rgb(8, 98, 244);
  --rdp-range_middle-background-color: #8b8b8b;
  --rdp-range_middle-color: black;
  --rdp-dropdown-gap: 1.5rem;
}
