.test-summary .card-header,
.test-details .card-header {
  color: #ffffff !important;
  border-bottom: 1px solid #272727 !important;
}

.test-summary .card-footer {
  color: #bdbcbc !important;
  border-top: 1px solid #272727 !important;
  font-size: 13px !important;
}

.test-details .filter-reset-button {
  width: 50% !important;
}

.dropdown .btn {
  width: 100% !important;
}

.dropdown-menu {
  width: 100% !important;
  background-color: #272727 !important;
  padding-bottom: 0px !important;
}

.dropdown-item {
  color: #cccaca !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
  border-right: 1px solid rgba(255, 255, 255, 0.1) !important;
  border-left: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.dropdown-item:hover {
  color: black !important;
  background-color: #cccaca !important;
}

.feature-name {
  color: #cccaca !important;
}

.feature-heading {
  color: #cccaca !important;
  font-weight: bolder;
  font-size: 20px;
}

.feature-description {
  color: #8b8b8b !important;
}

/* Download button styles */
/* .btn-success {
  background-color: #198754 !important;
  border-color: #198754 !important;
}

.btn-success:hover {
  background-color: #157347 !important;
  border-color: #146c43 !important;
}

.btn-success:focus {
  box-shadow: 0 0 0 0.2rem rgba(25, 135, 84, 0.5) !important;
} */

